<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link type="text/css" th:href="@{/resources/style.css}" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>

<h1>Main...</h1>

<ul>
  <li><a th:href="@{/fileuploadform}">File uploading...</a></li>
  <li>
    <ul>
      <li><a th:href="@{/lookup/0}">Lookup id=0</a></li>
      <li><a th:href="@{/lookup/1}">Lookup id=1</a></li>
      <li><a th:href="@{/lookup/2}">Lookup id=2</a></li>
      <li><a th:href="@{/lookup/3}">Lookup id=3 (Throws exception that translates into BAD REQUEST/Not found; Response from AppWideException)</a></li>
    </ul>
  </li>
</ul>
<a th:href="@{/exampleException}">Another exampleException handled by AppWideException -> customerror</a>

</body>
</html>